@{
    Layout = "_LayoutMentor";

}

<h1 class="mt-5">Actor Approval</h1>

<form method="get" asp-action="Index" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" name="searchTerm" placeholder="Search by skills, name, profession, etc." value="@ViewBag.SearchTerm" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div id="actors-list-container">
    <!-- The paginated list will be loaded here -->
    <partial name="_ActorListPartial" model="@Model" />
</div>

@section Scripts {
    <script>
        function loadPage(pageIndex) {
            var searchTerm = '@ViewBag.SearchTerm';
            var url = '@Url.Action("GetActors", "Approval")?page=' + pageIndex + '&searchTerm=' + searchTerm;

            $("#actors-list-container").load(url);
        }
    </script>
}
