<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>One Page Bootstrap Website Template</h1>
                <h2>We are team of talented designers</h2>
            </div>
        </div>
        <div class="text-center">
            <a asp-action="Register" asp-controller="Account" class="btn-get-started scrollto">Get Started</a>
        </div>

        <div class="row icon-boxes">

          
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="ri-stack-line"></i></div>
                    <h4 class="title"><a asp-action="Index" asp-controller="Mentor">Find Mentor</a></h4>
                    <p class="description">Find a mentor to accelerate your career growth and gain valuable insights.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="ri-palette-line"></i></div>
                    <h4 class="title"><a asp-action="Index" asp-controller="Blog">Career Blog</a></h4>
                    <p class="description">Explore our beautiful collection of articles and insights written by experienced mentors to inspire your career journey.</p>
                </div>
            </div>


            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="ri-command-line"></i></div>
                    <h4 class="title"><a asp-action="Index" asp-controller="Job">Job Portal</a></h4>
                    <p class="description">Explore job opportunities and find your next career move on our comprehensive job portal.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><i class="ri-fingerprint-line"></i></div>
                    <h4 class="title"><a asp-action="Index" asp-controller="QnA">Q&A with Mentors</a></h4>
                    <p class="description">Get expert answers to your career-related questions from experienced mentors.</p>
                </div>
            </div>


        </div>
    </div>
</section><!-- End Hero -->