<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>Boost your Career</h1>
                <h2>Find Mentor, Ask Question, Find Job, Find Career Blog</h2>
            </div>
        </div>
        
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="text-center">
                <a asp-action="Register" asp-controller="Account" class="btn-get-started scrollto">Get Started</a>
        </div>
        }

        <div class="row icon-boxes">

          
            
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <a asp-action="Index" asp-controller="Mentor">
                <div class="icon-box">
                    <div class="icon"><i class="ri-stack-line"></i></div>
                    <h4 class="title">Find Mentor</h4>
                        <p class="description">Find a mentor to accelerate your career growth and gain valuable insights. Level up your networking, Meet with professional</p>
                </div>
                </a>

            </div>
            


            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <a asp-action="Index" asp-controller="Blog">
                <div class="icon-box">
                    <div class="icon"><i class="ri-palette-line"></i></div>
                    <h4 class="title">Career Blog</h4>
                    <p class="description">Explore our beautiful collection of articles and insights written by experienced mentors to inspire your career journey.</p>
                </div>
                </a>
            </div>


            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
                <a asp-action="Index" asp-controller="Job">
                <div class="icon-box">
                    <div class="icon"><i class="ri-command-line"></i></div>
                    <h4 class="title">Job Portal</h4>
                    <p class="description">Explore job opportunities and find your next career move on our comprehensive job portal. Find your dream Job</p>
                </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
                <a asp-action="Index" asp-controller="QnA">
                <div class="icon-box">
                    <div class="icon"><i class="ri-fingerprint-line"></i></div>
                    <h4 class="title">Q&A with Mentors</h4>
                    <p class="description">Get expert answers to your career-related questions from experienced mentors. Clear Your Confusion with experts</p>
                </div>
                </a>
            </div>


        </div>
    </div>
</section><!-- End Hero -->