
@{
    ViewData["Title"] = "Delete User and Activity";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Can not Delete</h5>
                    <p class="card-text">This user can not be deleted first you have to delete all data of user</p>
              
                </div>
            </div>
        </div>
    </div>
</div>
